* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-blue: #26547C;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: #efefef;
}

/* -- welcome screen -- */

#welcome-screen {
    text-align: center;
    font-size: 1.3rem;
}

#welcome-screen button#welcome-screen-start-btn {
    background-color: var(--primary-blue);
    color: white;
    padding: .8em 3em;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    margin-top: 1.8em;
    font-size: 1rem;
}

#app {
    opacity: 0;
}